html {
  background: #0a182e;
}
strong {
  font-weight: inherit;
  font-weight: bolder;
}
.a {
  text-align: center;
  font-size: 20px;
}
.z {
  text-align: center;
  font-size: 14px;
}
.terminal {
  font-size: 12px !important;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}
[data-termynal] {
  width: 1100px;
  max-width: 100%;
  background: #000;
  color: #f3f3f3;
  font-size: 18px;
  font-family: Fira Mono, Consolas, Menlo, Monaco, Courier New, Courier,
    monospace;
  border-radius: 12px;
  padding: 75px 45px 35px;
  position: relative;
  box-sizing: border-box;
}
[data-termynal]:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #d9515d;
  box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
}
[data-ty] {
  display: block;
  line-height: 2;
}
[data-ty]:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}
[data-ty-prompt]:before,
[data-ty='input']:before {
  margin-right: 0.75em;
  color: rgba(255, 255, 255, 0.5);
}
[data-ty='input']:before {
  content: '$';
}

.header__terminal {
  margin-top: 100px;
  min-height: 0;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
